@charset "UTF-8";
body {
  width: 100%;
}

.triangle {
  background-color: #7f886b;
  margin-top: 500px;
  height: 900px;
  width: 100%;
  z-index: -3;
  position: absolute;
  transform: skewY(-10deg);
}

.first-view {
  height: 100vh;
  position: relative;
  width: 100%;
}

#header {
  width: 100%;
  background-color: #f3ecda;
  display: flex;
  position: absolute;
  bottom: 0;
  position: fixed;
  z-index: 3;
}

h1 {
  font-size: 36px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 100px;
  color: #3e4f3c;
  text-shadow: #7f886b;
}

.header-menu {
  margin-top: auto;
  width: 100vw;
  margin-bottom: auto;
  display: flex;
  justify-content: end;
  padding-right: 100px;
}
.header-menu .header-menu-list {
  margin-top: 50px;
  margin-bottom: 50px;
  vertical-align: middle;
  margin-left: 10%;
}

.header-menu-list:hover {
  text-decoration: underline;
  text-decoration-color: #ff6e3e;
}

.eyecatch img {
  position: absolute;
  top: 100px;
  left: 130px;
  width: 50%;
  background-image: url(../img/eyecatch.jpg);
}
.eyecatch h1 {
  position: absolute;
  bottom: 200px;
  right: 200px;
}

h2 {
  position: absolute;
  font-size: 36px;
  text-decoration: underline;
  text-decoration-color: #EE827D;
  text-align: center;
  transform: rotate(90deg);
  transform-origin: left top;
  top: 0;
  padding-top: 50px;
  letter-spacing: 0.5rem;
  font-family: "Ubuntu", sans-serif;
}

section {
  position: relative;
  margin-top: 200px;
  margin-bottom: 100px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.work-table {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.works-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.more-work {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.more-work:hover {
  text-decoration: underline;
  text-decoration-color: #EE827D;
}

.works-list dl {
  width: 30%;
  margin: 5%;
}
.works-list img {
  width: 90%;
}

.about {
  display: flex;
}
.about .about-text {
  margin-left: 50px;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}
.about .about-text p {
  line-height: 2;
}

.about-table {
  display: flex;
}

.about-img {
  border-radius: 50%;
}

.skill-block {
  display: flex;
  margin-top: 100px;
}

.block1 {
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: row-reverse;
}

.block2 {
  flex-direction: row;
}

.skill-img img {
  width: 80%;
  flex-wrap: wrap;
}

.skill-text {
  line-height: 2;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
}
.skill-text h3 {
  font-size: 24px;
}

.skill-text1 {
  margin-right: 50px;
}

.skill-text2 {
  margin-left: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 60%;
}
.contact dt {
  margin-top: 20px;
  border: solid, #ff6e3e, 1px;
  height: 40px;
}
.contact dd {
  margin-top: 20px;
  height: 40px;
  border-color: #000;
}
.contact dd input {
  height: 40px;
  width: 100%;
  vertical-align: middle;
  background-color: #f3ecda;
}
.contact dd input[type=textarea] {
  height: 100px;
}

.submit-button {
  background-color: #EE827D;
  height: 50px;
  width: 100px;
  text-align: center;
  border-radius: 10%;
  color: #FFEAEA;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #7f886b;
  height: 150px;
}
footer p {
  text-align: center;
  padding-top: 50px;
}

@media (max-width: 960px) {
  #header {
    height: 100vh;
    width: initial;
    flex-direction: column;
  }
  .hamburger-menu {
    display: block;
    width: 80px;
    height: 80px;
    background-color: #008DC9;
    margin: 10px 50px 0 0;
    top: 0;
    right: 0;
    z-index: 30;
    cursor: pointer;
    transition: 0.4s;
    padding-top: 10px;
    position: relative;
  }
  .hamburger-menu:hover {
    opacity: 0.5;
  }
  /* ハンバーガーメニューの線の設定（初期の三本線の状態） */
  .hamburger-menu span {
    width: 50px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 15px;
    transition: 0.4s ease-in-out;
  }
  /* 1本目の線の位置 */
  .hamburger-menu span:nth-child(1) {
    top: 24px;
  }
  /* 2本目の線の位置 */
  .hamburger-menu span:nth-child(2) {
    top: 40px;
  }
  /* 3本目の線の位置 */
  .hamburger-menu span:nth-child(3) {
    top: 56px;
  }
  .hamburger-menu {
    display: block;
    width: 80px;
    height: 80px;
    background-color: #008DC9;
    margin: 10px 50px 0 0;
    top: 0;
    right: 0;
    z-index: 30;
    cursor: pointer;
    transition: 0.4s;
    padding-top: 10px;
    position: relative;
  }
  .hamburger-menu:hover {
    opacity: 0.5;
  }
  /* ハンバーガーメニューの線の設定（初期の三本線の状態） */
  .hamburger-menu span {
    width: 50px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 15px;
    transition: 0.4s ease-in-out;
  }
  /* 1本目の線の位置 */
  .hamburger-menu span:nth-child(1) {
    top: 24px;
  }
  /* 2本目の線の位置 */
  .hamburger-menu span:nth-child(2) {
    top: 40px;
  }
  /* 3本目の線の位置 */
  .hamburger-menu span:nth-child(3) {
    top: 56px;
  }
  /*-------------------------------------------
  hamburger-menuクラスにactiveクラスが付与されたら、三→×に変化するようにする
  -------------------------------------------*/
  /* 1本目の線を-45度回転 */
  .hamburger-menu.active span:nth-child(1) {
    top: 40px;
    left: 15px;
    background: #fff;
    transform: rotate(-45deg);
  }
  /* 2本目と3本目は重ねて45度回転 */
  .hamburger-menu.active span:nth-child(2),
  .hamburger-menu.active span:nth-child(3) {
    top: 40px;
    background: #fff;
    transform: rotate(45deg);
  }
  /*-------------------------------------------
  hamburger-navigationIDにactiveクラスが付与されたら、
  ナビゲーションメニューを表示させる。
  -------------------------------------------*/
  /*　opacityを0→1にすることで、ナビゲーションメニューを非表示→表示というふうに実装する　*/
  #hamburger-navigation.active {
    opacity: 1;
    visibility: visible;
  }
  h1 {
    padding: 0;
    margin-top: 30%;
    margin-right: auto;
    margin-left: auto;
  }
  .header-menu {
    margin-right: 0;
    margin-left: 0;
    margin-top: 20%;
    padding-right: 0;
    display: block;
    text-align: center;
  }
  .header-menu .header-menu-list {
    margin-left: 0;
  }
  main {
    width: 100%;
  }
  .work-table {
    display: block;
  }
  .eyecatch img {
    height: 100vh;
    margin: 0;
    position: initial;
  }
  .eyecatch h1 {
    display: none;
  }
  h2 {
    transform: none;
    padding-top: 0;
    position: initial;
  }
  .works-list {
    margin-bottom: 30px;
  }
  .works-list img {
    width: 100%;
  }
  .about {
    display: block;
  }
  .about-img {
    width: 80%;
  }
  .about-img div {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .about-text p {
    display: block;
    width: 100%;
    margin-top: 30px;
  }
  .skill-block {
    display: block;
    margin-top: 0;
  }
  .skill-img img {
    width: 100%;
  }
  .skill-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .skill-text p {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */