@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

h1, h2, h3 {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

nav {
  display: flex;
  background-color: #f3ecda;
}

nav.fixed {
  display: flex;
  background-color: #f3ecda;
  position: fixed;
  opacity: 1;
  top: 0;
  z-index: 5;
  width: 100%;
}

.triangle {
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  margin-top: 500px;
  height: 600px;
  width: 100%;
  z-index: -3;
  transform: skewY(-10deg);
  position: absolute;
}

#loading {
  transition: all 1s;
  background-color: #7f886b;
  position: fixed;
  z-index: 100;
  inset: 0;
  display: grid;
  place-items: center;
}

.spinner {
  width: 200px;
  height: 200px;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

h1 {
  font-size: 36px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 100px;
  color: #3e4f3c;
  text-shadow: #7f886b;
}

.header {
  position: relative;
}

.header-menu {
  margin-top: auto;
  width: 100%;
  margin-bottom: auto;
  display: flex;
  justify-content: right;
  padding-right: 10%;
}
.header-menu .header-menu-list {
  margin-top: 50px;
  margin-bottom: 50px;
  vertical-align: middle;
  margin-left: 15%;
}
.header-menu .header-menu-list a {
  transition: all 0.5s 0s ease-in-out;
  position: absolute;
}
.header-menu .header-menu-list a:hover {
  text-decoration: underline;
  text-decoration-color: #ff6e3e;
  font-size: large;
}

.first-view {
  height: 85vh;
  position: relative;
  width: 100%;
}

.eyecatch video {
  position: absolute;
  margin-left: 20%;
  margin-top: 5%;
}
.eyecatch h3 {
  position: absolute;
  bottom: 20%;
  right: 20%;
  font-size: 2rem;
}

h2 {
  position: absolute;
  font-size: 36px;
  text-decoration: underline;
  text-decoration-color: #EE827D;
  text-align: center;
  transform: rotate(90deg);
  transform-origin: left top;
  top: 0;
  padding-top: 50px;
  letter-spacing: 0.5rem;
}

section {
  scroll-behavior: smooth;
  position: relative;
  margin-top: 200px;
  margin-bottom: 100px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.work-table {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.works-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.more-work {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: all 0.5s 1s ease-in-out;
}

.more-work:hover {
  text-decoration: underline;
  text-decoration-color: #EE827D;
  font-size: larger;
}

.works-list dl {
  width: 30%;
  margin: 5%;
}
.works-list img {
  width: 90%;
}

.work-td {
  height: 30px;
}

.work-td1 {
  width: 100px;
}

.about {
  display: flex;
}
.about .about-text {
  margin-left: 50px;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}
.about .about-text p {
  line-height: 2;
}

.about-table {
  display: flex;
}

.about-img {
  border-radius: 50%;
}

.skill-block {
  display: flex;
  margin-top: 100px;
}

.block1 {
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: row-reverse;
}

.block2 {
  flex-direction: row;
}

.skill-img img {
  width: 80%;
  flex-wrap: wrap;
}

.skill-text {
  line-height: 2;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
}
.skill-text h3 {
  font-size: 24px;
}

.skill-text1 {
  margin-right: 50px;
}

.skill-text2 {
  margin-left: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 60%;
}
.contact dt {
  margin-top: 20px;
  border: solid, #ff6e3e, 1px;
  height: 40px;
}
.contact dd {
  margin-top: 20px;
  height: 40px;
  border-color: #000;
}
.contact dd input {
  height: 40px;
  width: 100%;
  vertical-align: middle;
  background-color: #f3ecda;
}
.contact dd input[type=textarea] {
  height: 100px;
  white-space: normal;
}
.contact dd .count {
  margin-top: 5%;
  text-align: right;
}
.contact dd div {
  text-align: end;
  margin-top: 5%;
}

.submit-button {
  background-color: #EE827D;
  height: 50px;
  width: 100px;
  text-align: center;
  border-radius: 10%;
  color: #FFEAEA;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover {
  background-color: #7f886b;
}

footer {
  background-color: #7f886b;
  height: 150px;
}
footer p {
  text-align: center;
  padding-top: 5%;
}

.swiper {
  width: 800px;
  height: 500px;
}

.swiper-wrapper {
  height: 100%;
}
.swiper-wrapper .swiper-slide {
  height: 50%;
}

.work-table {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #ff6e3e;
}

.work-main {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (max-width: 960px) {
  .header {
    height: 100vh;
  }
  .eyecatch {
    margin: 0;
  }
  .eyecatch .eyecatch-video {
    margin-top: 10%;
    width: 100%;
    top: 20%;
    right: 5%;
  }
  .eyecatch .eyecatch-text {
    left: 10%;
    bottom: 10%;
  }
  .hamburger-menu {
    display: block;
    width: 80px;
    height: 80px;
    background-color: #3e4f3c;
    top: 0;
    right: 0;
    z-index: 30;
    cursor: pointer;
    transition: 0.4s;
    padding-top: 10px;
    position: absolute;
    position: fixed;
  }
  .hamburger-menu:hover {
    opacity: 0.5;
  }
  /* ハンバーガーメニューの線の設定（初期の三本線の状態） */
  .hamburger-menu span {
    width: 50px;
    height: 3px;
    background: #ff6e3e;
    position: absolute;
    left: 15px;
    transition: 0.4s ease-in-out;
  }
  /* 1本目の線の位置 */
  .hamburger-menu span:nth-child(1) {
    top: 24px;
  }
  /* 2本目の線の位置 */
  .hamburger-menu span:nth-child(2) {
    top: 40px;
  }
  /* 3本目の線の位置 */
  .hamburger-menu span:nth-child(3) {
    top: 56px;
  }
  /* ハンバーガーメニューの線の設定（初期の三本線の状態） */
  .hamburger-menu span {
    width: 50px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 15px;
    transition: 0.4s ease-in-out;
  }
  /* 1本目の線の位置 */
  .hamburger-menu span:nth-child(1) {
    top: 24px;
  }
  /* 2本目の線の位置 */
  .hamburger-menu span:nth-child(2) {
    top: 40px;
  }
  /* 3本目の線の位置 */
  .hamburger-menu span:nth-child(3) {
    top: 56px;
  }
  /*-------------------------------------------
  hamburger-menuクラスにactiveクラスが付与されたら、三→×に変化するようにする
  -------------------------------------------*/
  /* 1本目の線を-45度回転 */
  .hamburger-menu.active span:nth-child(1) {
    top: 40px;
    left: 15px;
    background: #fff;
    transform: rotate(-45deg);
  }
  /* 2本目と3本目は重ねて45度回転 */
  .hamburger-menu.active span:nth-child(2),
  .hamburger-menu.active span:nth-child(3) {
    top: 40px;
    background: #fff;
    transform: rotate(45deg);
  }
  /*-------------------------------------------
  hamburger-navigationIDにactiveクラスが付与されたら、
  ナビゲーションメニューを表示させる。
  -------------------------------------------*/
  /*　opacityを0→1にすることで、ナビゲーションメニューを非表示→表示というふうに実装する　*/
  #hamburger-navigation {
    display: none;
  }
  #hamburger-navigation.active {
    opacity: 1;
    visibility: visible;
    height: 100vh;
    width: initial;
    flex-direction: column;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    position: fixed;
    z-index: 3;
  }
  h1 {
    padding: 0;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
  }
  .logo {
    margin-top: 40%;
  }
  .header-menu {
    position: absolute;
    margin-right: 0;
    margin-left: 0;
    margin-top: 55%;
    padding-right: 0;
    display: block;
    text-align: center;
    padding-right: 0;
  }
  .header-menu .header-menu-list {
    margin-left: 0;
  }
  .header-menu .header-menu-list a {
    position: initial;
  }
  main {
    width: 100%;
  }
  section {
    margin-top: 200px;
  }
  .work-table {
    display: block;
  }
  .eyecatch img {
    height: 100vh;
    margin: 0;
    position: initial;
    width: auto;
  }
  .eyecatch h1 {
    display: none;
  }
  #mask {
    display: none;
    transition: all 5s;
  }
  #mask.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7f886b;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
  }
  h2 {
    transform: none;
    padding-top: 0;
    position: initial;
  }
  .works-list {
    margin-bottom: 70px;
  }
  .works-list img {
    width: 100%;
  }
  .about {
    display: block;
    width: 100%;
    margin-top: 10%;
  }
  .about div {
    margin-right: auto;
    margin-left: auto;
  }
  .about .about-text {
    display: block;
    width: initial;
    margin-top: 10%;
    margin-left: 0;
  }
  .about-img {
    width: 80%;
  }
  .skill-block {
    display: block;
    margin-top: 10%;
  }
  .skill-img img {
    width: 100%;
  }
  .skill-text {
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    width: initial;
  }
  .skill-text h3 {
    margin-bottom: 10%;
  }
  .contact {
    width: 100%;
  }
  #footer {
    height: 10%;
  }
}
.img-pc {
  width: 30%;
}

.img-phone {
  width: 30%;
}

tbody {
  margin-left: 10%;
}

@media (max-width: 960px) {
  .more-work-title {
    margin-top: 30%;
    margin-bottom: 10%;
  }
  .swiper {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hamburger-menu-section {
    height: initial;
  }
  .work-table tr {
    width: 100%;
  }
  .work-table tr td {
    width: 50%;
  }
  .work-table tr .work-td {
    padding-left: 10%;
  }
  .swiper-wrapper .swiper-slide {
    height: 140%;
    display: flex;
    margin-right: 0;
    flex-direction: column;
  }
  .swiper-button-next {
    color: #ff6e3e;
  }
  .pc-img-resp {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
  .cell-img-resp {
    width: 160px;
    margin-right: auto;
    margin-left: auto;
  }
}/*# sourceMappingURL=style.css.map */